<html>
<head>
    <link rel="stylesheet" href="~/css/faqs.css" />
    <!--montserrat-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <div>
  <div class="para1">
        Go explore the
        <h3>Frequently Asked Questions</h3>
        <pre>
         Welcome to braille master FAQs
       Feel free to explore what you have doubts about here. Here’s an A-Z 
        most common FAQs list guide of Braille Master which will provide you with 
      easy-to-understand information and support so that you can focus on
             on Braille Master features with confidence. 
    </pre>
  </div>     
 

   <div class="imgg"> 
   <img src="~/css/gp.png" width="770px"/>

   </div>
   <div class="questions">
       <ul>
           <li class="question"> 
               Does Braille Master provide additional features apart from generating Braille?
           </li>

                <li class="question">
               Is the Braille patterns differ with the language?
           </li>
                <li class="question">
               Do we need to know Braille Language to use this application?
           </li>
                <li class="question">
              Can blind people use this application?
           </li>
       </ul>
   </div>
    </div>
</body>
</html>
