@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
    <link rel="stylesheet" href="~/css/Index.css" />

    <!--montserrat-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        <!--dm sans-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
      <style>
      /*  img.fb {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 50px; /* adjust the size of the icon as needed 
            height: 50px;
            z-index: 9999;
        }*/
    </style>
    </head>
    <body>
        @*<img src="~/css/fb.png" width="100px"/>*@
    <div class="chat"> <a href="https://api.whatsapp.com/send?phone=+94714596887&text=Hello%20there"><img src="~/css/instcht.png" width="56px" /></a> </div>
    <a href=""> <img class="pic" src="~/Images/user(1).png?v=1" width="56px"/> </a> @*catching*@
    <h3>Braille Master</h3>
            <p class="intro">Braille generative platform for the blind and visually impaired</p>
            <img id="picc" src="~/Images/Group18930.png" width="600px">
        <div class="text1">
            <p class="unlock">Go unlock</p>
            <h4 class="beauty">the beauty of the world</h4>
            <p class="just">for everyone just with fingertips</p>
            <p class="revl">Experience the revolutionary braille generative platform for the blind and visually impaired. Seamlessly navigate through what you need to convert to braille with these sleek and intuitive interfaces</p>
        </div>
        <div class="text2">
            <p class="c">© 2023 Braille Master</p>
            <h4 class="experience">Experience world’s</h4>
            <p class="most">most convenient opportunity to search for all the possibilities of characters, shapes and texts using one single digital platform </p>
            <ul class="ulc">
            <li class="good"><a asp-area="" asp-controller="Home" asp-action="Faqs">Help</a></li>
            <li class="good"><a asp-area="" asp-controller="Home" asp-action="Report">Report</a></li>
            <li class="good"><a asp-area="" asp-controller="Home" asp-action="TC">Terms and Conditions</a></li>
            </ul>
        </div>
        <div class="cu">
            <p>Contact us</p>
        </div>

        <div class="smcb">
            <ul class="smcb2">
            <li ><img src="~/Images/facebook(1).png" width="66px"></li>
            <li ><img src="~/Images/instagram(2).png" width="66px"></li>
            <li ><img src="~/Images/whatsapp(3).png" width="66px"></li>
            </ul>
        </div>

    <div class="tel"> <img src="~/Images/contactbars.png" width=600px;> </div>
    </body>
</html>

  
    



