@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-4">Braille Masterbjgfhjgf</p>
    <p class="display-5">Braille generative platform for the blind and visually impared</p>
</div>
