@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-4">Braille Master</p>
    <p class="display-5">Braille platform for blind and visually impared people</p>
</div>
