<html>
<head>
	<title>Navigation Bar</title>

    <link rel="stylesheet" href="~/css/TC.css" />
    <!--montserrat-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <h1>Terms and Conditions</h1>
        <h4>Introduction</h4>
        <p>By using the Braille Master website, you accept these terms and conditions in full. If you disagree with these terms and conditions, you must not use the Braille Master system.</p>
        <h4>License to use website</h4>
        <p>Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p>
        <h4>Acceptable use</h4>
        <p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>
        <h4>Restricted access</h4>
        <p>We reserve the right to restrict access to areas of the Braille Master website, or indeed our whole website, at our discretion. You must not attempt to circumvent or bypass any access restrictions on the website.</p>
        <h4>Variation</h4>
        <p>We may revise these terms and conditions from time-to-time. The revised terms and conditions shall apply to the use of the Braille Master website from the date of publication of the revised terms and conditions on our website.</p>
        <h4>Entire agreement</h4>
        <p>These terms and conditions constitute the entire agreement between you and us in relation to your use of the Braille Master website.</p>
    </main>
</body>
</html>
