
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Here are some Frequently Asked Questions!</h1>

<p>
    (1) Why is braille different than English?<br />
    
    Unlike American Sign Language, which is a fully-developed language, braille is a reading and writing system used by people with visual impairment and blindness. Braille operates just like printed text, as a code that reproduces the sounds, phonetics, and semantics of a language.
</p>

<p>
    (2) How does English Braille work?<br />
   
    Braille is a system of touch reading and writing for blind persons in which raised dots represent the letters of the alphabet. It also contains equivalents for punctuation marks and provides symbols to show letter groupings. People read braille by moving the hand or hands from left to right along each line.
</p>

<p>
    (3) What are some facts about braille language?<br />
   
    Braille is not a language. It is a tactile code enabling blind and visually impaired people to read and write by touch, with various combinations of raised dots representing the alphabet, words, punctuation and numbers.
</p>
<p>
    (4) What is the importance of braille language?<br />
    
    Braille is a unique tactile writing system of raised dots that blind and partially sighted people can read by touch. The ability to understand braille means that people with sight loss have the same access to written word as sighted people and are able to enjoy reading for life.
</p>

<p>
    (5) Is braille only for English? <br />
    
    Braille is not a language. Rather, it is a code by which many languages—such as English, Spanish, Arabic, Chinese, and dozens of others—may be written and read. Braille is used by thousands of people all over the world in their native languages, and provides a means of literacy for all.
</p>
