@model string

@{
    ViewData["Title"] = "Perimeter";
}

<html>


<head>
    <link rel="stylesheet" href="~/css/Perimeter.css"/>
    <style>
        .red-text {
            font-size: 12px;
        }
        
    </style>
</head>
<body>

    <br />
    <div>@Html.Raw(Model)</div>

    @if (!string.IsNullOrEmpty(ViewData["pr"] as string))
    {
        <pre>@Html.Raw(ViewData["pr"] as string)</pre>
    }
    @*<button class="print-button" onclick=" printPreview()">Print</button>*@
</body>
</html>


