@model string

@{
    ViewData["Title"] = "SearchResult";
}
<html>
<h1 id="heading">Braille character sequence  </h1>
<br />
<head>

    <style>
        .red-text {
            font-size: 12px;
        }

      @@media print {
    .print-button{
      display: none;
    }
    .navbar-brand
    {
      display: none;
    }
  }
  </style>
</head>
<body>

   <br />
    <div>@Html.Raw(Model)</div>

        @if (!string.IsNullOrEmpty(ViewData["DotPattern"] as string))
        {
        <pre  style="font-family: Arial, sans-serif; font-size: 99px; ">@Html.Raw(ViewData["DotPattern"] as string)</pre>
        }
    <button class="print-button" onclick=" printPreview()">Print</button>
</body>
</html>

<!--output is  displayed in monospaced font as the text is wrapped with <code> or <pre> elements-->
<!--Dont remove pre tags otherwise perimeter and pattern wont display in two lines-->
<!--media does the job of hiding print btn. double at signs as it is reserved-->
