<html>
<head>

</head>
<body>
    <script language="JavaScript" src="~/js/shapeParamters.js"></script>

    <h4>Search for Braille Dot Patterns</h4>
    <hr />
    <h5>Search for Shapes</h5>

    <!-- drop down list for shapes-->
    <div class="row1">
        <div class="col-md-4">
            <form asp-action="SearchResult">
                <!-- action-->
                <div class="form-group">
                    <select size="9" class="form-control" name="ShapeList" id="myDropDownList1" onchange="showHideFields()">
                        <option value="Circle">Circle</option>
                        <option value="Square">Square</option>
                        <option value="Triangle">Triangle</option>
                        <option value="Rectangle">Rectangle</option>
                        <option value="Pentagon">Pentagon</option>
                        <option value="Hexagon">Hexagon</option>
                        <option value="Heptagon">Heptagon</option>
                        <option value="Octagon">Octagon</option>
                        <option value="Nonagon">Nonagon</option>
                        <option value="Parallelogram">Parallelogram</option>
                        <option value="Trapezoid">Trapezoid</option>
                        <option value="Rhombus">Rhombus</option>
                        <option value="Quadrilateral">Quadrilateral</option>

                    </select>
                </div>
                <br />
                <!-- shape-specific input fields -->
                <!--Circle-->
                <div id="CircleDiv" style="display:none;">
                    <label>Radius:</label>
                    <input name="Radius" type="number" min="0" class="form-control" />
                    <br />
                     <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />

                </div>
                <!--Square-->
                <div id="SquareDiv" style="display:none;">
                    <label>Side Length:</label>
                    <input name="SquareSideLength" type="number" min="0" class="form-control" />
                    <br />
                    <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />
                </div>
                <!--Rectangle-->
                <div id="RectangleDiv" style="display:none;">
                    <label>Length:</label>
                    <input name="Length" type="number" min="0" class="form-control" />
                    <br />
                    <label>Height of the rectangle:</label>
                    <input name="Height:" type="number" min="0" class="form-control" />
                    <br />
                     <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />
                </div>
                <!--Triangle-->
                <div id="TriangleDiv" style="display:none;">
                    <label>Side Length 1:</label>
                    <input name="Tr1" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 2:</label>
                    <input name="Tr2" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 3:</label>
                    <input name="Tr3" type="number" min="0" class="form-control" />
                    <br />
                     <label>Center Values:</label>
                     <br /><br />
                     <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />
                </div>
                 <!--Pentagon-->
                <div id="PentagonDiv" style="display:none;">
                    <label>Side Length:</label>
                    <input name="PentagonSideLength" type="number" min="0" class="form-control" />
                    <br />
                      <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />
                </div>
                <!--Hexagon-->
                <div id="HexagonDiv" style="display:none;">
                    <label>Side Length:</label>
                    <input name="HexagonSideLength" type="number" min="0" class="form-control" />
                    <br />
                    <label>Center Values:</label>
                    <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />
                </div>
                <!--Heptagon-->
                <div id="HeptagonDiv" style="display:none;">
                    <label>Side Length:</label>
                    <input name="HeptagonSideLength" type="number" min="0" class="form-control" />
                    <br />
                     <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />
                </div>
                <!--Octagon-->
                <div id="OctagonDiv" style="display:none;">
                    <label>Side Length:</label>
                    <input name="OctagonSideLength" type="number" min="0" class="form-control" />
                    <br />
                      <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />
                </div>
                <!--Nonagon-->
                <div id="NonagonDiv" style="display:none;">
                    <label>Side Length:</label>
                    <input name="NonagonSideLength" type="number" min="0" class="form-control" />
                    <br />
                     <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />
                </div>
                <!--Parallelogram-->
                <div id="ParallelogramDiv" style="display:none;">
                    <label>Side Length 1:</label>
                    <input name="Pl1" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 2:</label>
                    <input name="Pl2" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 3:</label>
                    <input name="Pl3" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 4:</label>
                    <input name="Pl4" type="number" min="0" class="form-control" />
                    <br />
                      <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />
                </div>
                <!--Trapezoid-->
                <div id="TrapezoidDiv" style="display:none;">
                    <label>Side Length 1:</label>
                    <input name="Tz1" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 2:</label>
                    <input name="Tz2" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 3:</label>
                    <input name="Tz3" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 4:</label>
                    <input name="Tz4" type="number" min="0" class="form-control" />
                    <br />
                      <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />
                </div>
                <!--Rhombus-->
                <div id="RhombusDiv" style="display:none;">
                    <label>Side Length 1:</label>
                    <input name="Rh1" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 2:</label>
                    <input name="Rh2" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 3:</label>
                    <input name="Rh3" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 4:</label>
                    <input name="Rh4" type="number" min="0" class="form-control" />
                    <br />
                      <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />
                </div>
                <!--Quadrilateral-->
                <div id="QuadrilateralDiv" style="display:none;">
                    <label>Side Length 1:</label>
                    <input name="Ql1" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 2:</label>
                    <input name="Ql2" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 3:</label>
                    <input name="Ql3" type="number" min="0" class="form-control" />c
                    <br />
                    <label>Side Length 4:</label>
                    <input name="Ql4" type="number" min="0" class="form-control" />
                    <br />
                      <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />
                </div> 
                <!-- submit button-->
                <div class="form-group" style="display:none;" id="EnterDiv"><br />
                    <input type="submit" value="Enter" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <br />
    <h5>Search for Characters</h5>
    <!-- drop down list for characters-->
    <div class="row2">
        <div class="col-md-4">
            <form asp-action="SearchResult" name="CharacterList" id="characterForm">
                <!-- action-->
                <div class="form-group">
                    <select size="12" name="CharacterList" class="form-control" id="myDropDownList2">
                        <option value="A">A</option>
                        <option value="a">a</option>
                        <option value="B">B</option>
                        <option value="b">b</option>
                        <option value="C">C</option>
                        <option value="c">c</option>
                        <option value="D">D</option>
                        <option value="d">d</option>
                        <option value="E">E</option>
                        <option value="e">e</option>
                        <option value="F">F</option>
                        <option value="f">f</option>
                        <option value="G">G</option>
                        <option value="g">g</option>
                        <option value="H">H</option>
                        <option value="h">h</option>
                        <option value="I">I</option>
                        <option value="i">i</option>
                        <option value="J">J</option>
                        <option value="j">j</option>
                        <option value="K">K</option>
                        <option value="k">k</option>
                        <option value="L">L</option>
                        <option value="l">l</option>
                        <option value="M">M</option>
                        <option value="m">m</option>
                        <option value="N">N</option>
                        <option value="n">n</option>
                        <option value="O">O</option>
                        <option value="o">o</option>
                        <option value="P">P</option>
                        <option value="p">p</option>
                        <option value="Q">Q</option>
                        <option value="q">q</option>
                        <option value="R">R</option>
                        <option value="r">r</option>
                        <option value="S">S</option>
                        <option value="s">s</option>
                        <option value="T">T</option>
                        <option value="t">t</option>
                        <option value="U">U</option>
                        <option value="u">u</option>
                        <option value="V">V</option>
                        <option value="v">v</option>
                        <option value="W">W</option>
                        <option value="w">w</option>
                        <option value="X">X</option>
                        <option value="x">x</option>
                        <option value="Y">Y</option>
                        <option value="y">y</option>
                        <option value="Z">Z</option>
                        <option value="z">z</option>

                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>

                        <option value="~">~</option>
                        <option value="`">`</option>
                        <option value="!">!</option>
                        <option value="&#64;">&#64;</option>
                        <option value="#">#</option>
                        <option value="$">$</option>
                        <option value="%">%</option>
                        <option value="^">^</option>
                        <option value="&">&</option>
                        <option value="*">*</option>
                        <option value="(">(</option>
                        <option value=")">)</option>
                        <option value="-">-</option>
                        <option value="_">_</option>
                        <option value="=">=</option>
                        <option value="+">+</option>
                        <option value="[">[</option>
                        <option value="]">]</option>
                        <option value="{">{</option>
                        <option value="}">}</option>
                        <option value="|">|</option>
                        <option value="\">\</option>
                        <option value="/">/</option>
                        <option value=":">:</option>
                        <option value=";">;</option>
                        <option value="&apos;">&apos;</option>
                        <option value="&quot;">&quot;</option>
                        <option value="<">&lt;</option>
                        <option value=">">&gt;</option>
                        <option value=",">,</option>
                        <option value=".">.</option>
                        <option value="?">?</option>
                    </select>
                </div>
                <!-- submit button-->
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <br />
    <h5>Enter text to generate Braille</h5>
    <!-- input field for characters-->
    <div class="row3">
        <div class="col-md-4">
            <form asp-action="SearchResult">
                <div class="form-group">
                    <input id="inputtext" name="LongTextInput" class="form-control" />
                </div>
                <!-- submit button-->
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


</body>
</html>



