<html>
<head>
    <link rel="stylesheet" href="~/css/SearchPerimeter.css" />
    <!--montserrat-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
   <!-- <script language="JavaScript" src="~/js/shapeParamters.js"></script>
           No need to use a link when the js code is in site.js. It's possible that the site.js file is being loaded without an explicit reference in cshtml views.
    it happens if the file is being loaded by another JavaScript file that is referenced in your views, / if it's being loaded by a layout file that is used by all the views in your application.
       -->
    <h1>Perimeter Generator</h1>


    <!-- drop down list for shapes-->
    <div class="row1">
        <div class="col-mid-4">
            <form asp-action="Perimeter">
                <div class="form-group" style="width:700px;">
                    <div style="display:inline-block; width:400px;">
                        <label for="myDropDownList1">Select a shape:</label>
                    <select size="1" class="form-control" name="ShapeListp" id="myDropDownList1" onchange="showHideFields()">
                        <option value="Circle">Circle</option>
                        <option value="Square">Square</option>
                        <option value="Triangle">Triangle</option>
                        <option value="Rectangle">Rectangle</option>
                        <option value="Pentagon">Pentagon</option>
                        <option value="Hexagon">Hexagon</option>
                        <option value="Heptagon">Heptagon</option>
                        <option value="Octagon">Octagon</option>
                        <option value="Nonagon">Nonagon</option> f.
                        <option value="Parallelogram">Parallelogram</option>
                        <option value="Trapezoid">Trapezoid</option>
                        <option value="Rhombus">Rhombus</option>
                        <option value="Quadrilateral">Quadrilateral</option>
                    </select>
                    </div>

                <div class="newdiv" style="display:inline-block; margin-left: 10px; width:220px;">
                        <label for="myDropDownListM">Measure:</label>
                <select size="1" class="form-control" name="MeasureList" id="myDropDownListM" onchange="showHideFields()">
                            <option value="cm">cm</option>
                            <option value="m">m</option>
                            <option value="mm">mm</option>
                            <option value="km">km</option>
                            <option value="ft">ft</option>
                            <option value="in">in</option>
                            <option value="yd">yd</option>
                </select>
                </div>
                <!-- shape-specific input fields -->
                <!--Circle-->
                <div id="CircleDiv" style="display:none;">
                    <label>Radius (cm):</label>
                    <input name="Radius" type="number" min="0" class="form-control" />
                    <br />
                    @*    <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div>
                <!--Square-->
                <div id="SquareDiv" style="display:none;">
                    <label>Side Length:</label>
                    <input name="SquareSideLength" type="number" min="0" class="form-control" />
                    <br />
                    @*    <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div>
                <!--Rectangle-->
                <div id="RectangleDiv" style="display:none;">
                    <label>Length:</label>
                    <input name="Length" type="number" min="0" class="form-control" />
                    <br />
                    <label>Height:</label>
                    <input name="Height" type="number" min="0" class="form-control" />
                    <br />
                    @*  <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div>
                <!--Triangle-->
                <div id="TriangleDiv" style="display:none;">
                    <label>Side Length 1:</label>
                    <input name="Tr1" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 2:</label>
                     
                    <input name="Tr2" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 3:</label>
                    <input name="Tr3" type="number" min="0" class="form-control" />
                    <br />
                    @*  <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div>
                 <!--Pentagon-->
                <div id="PentagonDiv" style="display:none;">
                    <label>Side Length:</label>
                    <input name="PentagonSideLength" type="number" min="0" class="form-control" />
                    <br />
                     @* <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div>
                <!--Hexagon-->
                <div id="HexagonDiv" style="display:none;">
                    <label>Side Length:</label>
                    <input name="HexagonSideLength" type="number" min="0" class="form-control" />
                    <br />
                   @* <label>Center Values:</label>
                    <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div>
                <!--Heptagon-->
                <div id="HeptagonDiv" style="display:none;">
                    <label>Side Length:</label>
                    <input name="HeptagonSideLength" type="number" min="0" class="form-control" />
                    <br />
                    @* <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div>
                <!--Octagon-->
                <div id="OctagonDiv" style="display:none;">
                    <label>Side Length:</label>
                    <input name="OctagonSideLength" type="number" min="0" class="form-control" />
                    <br />
                      @*<label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div>
                <!--Nonagon-->
                <div id="NonagonDiv" style="display:none;">
                    <label>Side Length:</label>
                    <input name="NonagonSideLength" type="number" min="0" class="form-control" />
                    <br />
                    @* <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div>
                <!--Parallelogram-->
                <div id="ParallelogramDiv" style="display:none;">
                    <label>Side Length 1:</label>
                    <input name="Pl1" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 2:</label>
                    <input name="Pl2" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 3:</label>
                    <input name="Pl3" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 4:</label>
                    <input name="Pl4" type="number" min="0" class="form-control" />
                    <br />
                     @* <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div>
                <!--Trapezoid-->
                <div id="TrapezoidDiv" style="display:none;">
                    <label>Side Length 1:</label>
                    <input name="Tz1" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 2:</label>
                    <input name="Tz2" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 3:</label>
                    <input name="Tz3" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 4:</label>
                    <input name="Tz4" type="number" min="0" class="form-control" />
                    <br />
                   @*   <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div>
                <!--Rhombus-->
                <div id="RhombusDiv" style="display:none;">
                    <label>Side Length 1:</label>
                    <input name="Rh1" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 2:</label>
                    <input name="Rh2" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 3:</label>
                    <input name="Rh3" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 4:</label>
                    <input name="Rh4" type="number" min="0" class="form-control" />
                    <br />
                    @*   <label>Center Values:</label>
                     <br /><br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div>
                <!--Quadrilateral-->
                <div id="QuadrilateralDiv" style="display:none;">
                    <label>Side Length 1:</label>
                    <input name="Ql1" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 2:</label>
                    <input name="Ql2" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 3:</label>
                    <input name="Ql3" type="number" min="0" class="form-control" />
                    <br />
                    <label>Side Length 4:</label>
                    <input name="Ql4" type="number" min="0" class="form-control" />
                    <br />
                    @*  <label>Center Values:</label>
                     <br />
                    <label style="display: inline-block; width: 18%; margin-right: 4%; line-height:1;"> X coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " /><span style="display: inline-block; width: 4%;"></span><label style="display: inline-block; width: 18%; line-height:1;">Y coordinate:</label><span style="display: inline-block; width: 4%;"></span><input type="number" class="form-control" style="display: inline-block; width: 18%; " />*@
                </div> 
                <!-- submit button-->
                <div class="form-group" style="display:none;" id="EnterDiv"><br />
                    <input type="submit" value="Enter" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="content">


        <p>                        Go find</p>
        <h2>the perimeter for any</h2>
        <pre><span style="font-size:21px;">shape you are searching for</span>
      You can calculate the perimeter for any
         mathematical shape as you wish
      According to the input parameters, the
    computed perimeter will be outputted.
                                                   </pre>
    </div>
</body>
</html>
