@model string

@{
    ViewData["Title"] = "SearchResult";
}
<html>
<h1>Braille character sequence  </h1>
<br />
<head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/SearchResult.css" />
</head>
<body>
   <br />
    <div>@Html.Raw(Model)</div>
        @if (!string.IsNullOrEmpty(ViewData["DotPattern"] as string))
        {
        <pre  style="font-size: 120px; color:white; margin-top:-40px;">@Html.Raw(ViewData["DotPattern"] as string)</pre>
        }
    <button class="print-button" onclick=" printPreview()">Print</button>
</body>
</html>

<!--output is  displayed in monospaced font as the text is wrapped with <code> or <pre> elements-->
<!--Dont remove pre tags otherwise perimeter and pattern wont display in two lines-->
<!--media does the job of hiding print btn. double at signs as it is reserved-->
