<html>
<head>
    <link rel="stylesheet" href="~/css/SearchForm.css" />
    <!--montserrat-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
   
</head>
<body>
   <!-- <script language="JavaScript" src="~/js/shapeParamters.js"></script>
           No need to use a link when the js code is in site.js. It's possible that the site.js file is being loaded without an explicit reference in cshtml views.
    it happens if the file is being loaded by another JavaScript file that is referenced in your views, / if it's being loaded by a layout file that is used by all the views in your application.
   -->
    <h1>Generate Braille</h1>

    <div class="row1">
        <h5>For Shapes</h5>
        <div class="col-md-4">
            <form asp-action="SearchResult">
                <!-- action-->
                <div class="form-group">
                    <select size="1" class="form-control" name="ShapeList" id="myDropDownList1" onchange="showHideFields()">
                        <option value="Circle">Circle</option>
                        <option value="Square">Square</option>
                        <option value="Triangle">Triangle</option>
                        <option value="Rectangle">Rectangle</option>
                        <option value="Pentagon">Pentagon</option>
                        <option value="Hexagon">Hexagon</option>
                        <option value="Heptagon">Heptagon</option>
                        <option value="Octagon">Octagon</option>
                        <option value="Nonagon">Nonagon</option>
                        <option value="Parallelogram">Parallelogram</option>
                        <option value="Trapezoid">Trapezoid</option>
                        <option value="Rhombus">Rhombus</option>
                        <option value="Quadrilateral">Quadrilateral</option>
                    </select>
                </div>
                <!-- submit button-->
                <div class="form-group" id="EnterDiv"><br/>
                        <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <br />
    <h5>For Characters</h5>
    <!-- drop down list for characters-->
    <div class="row2">
        <div class="col-md-4">
            <form asp-action="SearchResult" name="CharacterList" id="characterForm">
                <!-- action-->
                <div class="form-group">
                    <select size="1" name="CharacterList" class="form-control" id="myDropDownList2">
                        <option value="A">A</option>
                        <option value="a">a</option>
                        <option value="B">B</option>
                        <option value="b">b</option>
                        <option value="C">C</option>
                        <option value="c">c</option>
                        <option value="D">D</option>
                        <option value="d">d</option>
                        <option value="E">E</option>
                        <option value="e">e</option>
                        <option value="F">F</option>
                        <option value="f">f</option>
                        <option value="G">G</option>
                        <option value="g">g</option>
                        <option value="H">H</option>
                        <option value="h">h</option>
                        <option value="I">I</option>
                        <option value="i">i</option>
                        <option value="J">J</option>
                        <option value="j">j</option>
                        <option value="K">K</option>
                        <option value="k">k</option>
                        <option value="L">L</option>
                        <option value="l">l</option>
                        <option value="M">M</option>
                        <option value="m">m</option>
                        <option value="N">N</option>
                        <option value="n">n</option>
                        <option value="O">O</option>
                        <option value="o">o</option>
                        <option value="P">P</option>
                        <option value="p">p</option>
                        <option value="Q">Q</option>
                        <option value="q">q</option>
                        <option value="R">R</option>
                        <option value="r">r</option>
                        <option value="S">S</option>
                        <option value="s">s</option>
                        <option value="T">T</option>
                        <option value="t">t</option>
                        <option value="U">U</option>
                        <option value="u">u</option>
                        <option value="V">V</option>
                        <option value="v">v</option>
                        <option value="W">W</option>
                        <option value="w">w</option>
                        <option value="X">X</option>
                        <option value="x">x</option>
                        <option value="Y">Y</option>
                        <option value="y">y</option>
                        <option value="Z">Z</option>
                        <option value="z">z</option>

                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>

                        <option value="~">~</option>
                        <option value="`">`</option>
                        <option value="!">!</option>
                        <option value="&#64;">&#64;</option>
                        <option value="#">#</option>
                        <option value="$">$</option>
                        <option value="%">%</option>
                        <option value="^">^</option>
                        <option value="&">&</option>
                        <option value="*">*</option>
                        <option value="(">(</option>
                        <option value=")">)</option>
                        <option value="-">-</option>
                        <option value="_">_</option>
                        <option value="=">=</option>
                        <option value="+">+</option>
                        <option value="[">[</option>
                        <option value="]">]</option>
                        <option value="{">{</option>
                        <option value="}">}</option>
                        <option value="|">|</option>
                        <option value="\">\</option>
                        <option value="/">/</option>
                        <option value=":">:</option>
                        <option value=";">;</option>
                        <option value="&apos;">&apos;</option>
                        <option value="&quot;">&quot;</option>
                        <option value="<">&lt;</option>
                        <option value=">">&gt;</option>
                        <option value=",">,</option>
                        <option value=".">.</option>
                        <option value="?">?</option>
                    </select>
                </div>
                <!-- submit button-->
                <div class="form-group">
                    <br/>
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <br />
    <h5>For any text</h5>
    <!-- input field for characters-->
    <div class="row3">
        <div class="col-md-4">
            <form asp-action="SearchResult">
                <div class="form-group">
                    <input style="background-color: #625c5c;" id="inputtext" name="LongTextInput" class="form-control" />
                </div>

                <!-- submit button-->
                <br/>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
     <div class="content">


       <p>                        Go search</p>
        <h2>braille pattern sequence</h2>
        <pre><span style="font-size:21px;">for any thing you are searching for</span>
      You can generate braille pattern sequences
         for any mathematical shape, character or
      custom text that you input as you wish with
    these three category fields
                                                   </pre>
    </div>
</body>
</html>
